<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT umbHomePage ANY>
<!ATTLIST umbHomePage id ID #REQUIRED>
<!ELEMENT umbMaster ANY>
<!ATTLIST umbMaster id ID #REQUIRED>
<!ELEMENT umbNewsItem ANY>
<!ATTLIST umbNewsItem id ID #REQUIRED>
<!ELEMENT umbNewsOverview ANY>
<!ATTLIST umbNewsOverview id ID #REQUIRED>
<!ELEMENT umbTextPage ANY>
<!ATTLIST umbTextPage id ID #REQUIRED>

]>
<root id="-1">
  <umbHomePage id="1068" key="b9b0364a-156f-4ca5-953d-203645ea636d" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-02-12T23:41:45" updateDate="2014-02-13T18:37:40" nodeName="Accueil" urlName="accueil" path="-1,1068" isDoc="" nodeType="1056" creatorName="admin_pharma" writerName="admin_pharma" writerID="0" template="1051" nodeTypeAlias="umbHomePage">
    <umbNewsOverview id="1073" key="34eb13f8-f7ec-4427-880f-f8adfde6afd0" parentID="1068" level="2" creatorID="0" sortOrder="0" createDate="2014-02-12T23:41:45" updateDate="2014-02-13T18:48:25" nodeName="Actualités" urlName="actualités" path="-1,1068,1073" isDoc="" nodeType="1058" creatorName="admin_pharma" writerName="admin_pharma" writerID="0" template="1053" nodeTypeAlias="umbNewsOverview">
      <umbNewsItem id="1077" key="71d7f7b7-5802-4fde-97ef-a3ceed1e2dd2" parentID="1073" level="3" creatorID="0" sortOrder="3" createDate="2014-02-12T23:41:45" updateDate="2014-02-13T18:17:33" nodeName="Nouveau site web" urlName="nouveau-site-web" path="-1,1068,1073,1077" isDoc="" nodeType="1057" creatorName="admin_pharma" writerName="admin_pharma" writerID="0" template="1052" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title><![CDATA[Nouveau site internet]]></title>
        <publishDate>2021-09-20T00:00:00</publishDate>
        <bodyText><![CDATA[<p>La pharmacie Sofianos est fi&egrave;re de vous pr&eacute;senter son nouveau site internet.</p>]]></bodyText>
      </umbNewsItem>
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Actualités]]></title>
    </umbNewsOverview>
    <umbTextPage id="1072" key="74fe668b-3d11-4322-8ef9-c3615e134d61" parentID="1068" level="2" creatorID="0" sortOrder="1" createDate="2014-02-12T23:41:45" updateDate="2014-02-13T18:48:25" nodeName="Contact" urlName="contact" path="-1,1068,1072" isDoc="" nodeType="1059" creatorName="admin_pharma" writerName="admin_pharma" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Nous contacter]]></title>
      <featuredPage>1</featuredPage>
      <image><![CDATA[/media/1002/addressbook.png]]></image>
      <bodyText><![CDATA[<p><br />La pharmacie est ouverte du lundi apr&egrave;s-midi au samedi de 9h &agrave; 12h30 puis de 14h30 &agrave; 19h30.</p>
<p style="text-align: left;">Lundi &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;14h30-19h30<br /> Mardi &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;9h-12h30 et 14h30-19h30<br />Mercredi &nbsp; &nbsp; &nbsp;&nbsp;9h-12h30 et 14h30-19h30<br />Jeudi &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;9h-12h30 et 14h30-19h30<br />Vendredi &nbsp; &nbsp; &nbsp;9h-12h30 et 14h30-19h30<br />Samedi &nbsp; &nbsp; &nbsp; &nbsp;9h-12h30 et 14h30-19h30</p>
<p>T&eacute;l&eacute;phone : 01-01-01-01-01 <br />Mail : contact@pharmacie-sofianos.fr</p>
<p>Adresse : 135 Rue de Conflans<br />95220 Herblay</p>
<div id="map_container" style="height: 600px;">Loading...</div>]]></bodyText>
    </umbTextPage>
    <umbTextPage id="1071" key="9fc66d96-e6b7-40bf-bbd0-b99d1bd23cf0" parentID="1068" level="2" creatorID="0" sortOrder="2" createDate="2014-02-12T23:41:45" updateDate="2014-02-13T18:28:21" nodeName="Emploi" urlName="emploi" path="-1,1068,1071" isDoc="" nodeType="1059" creatorName="admin_pharma" writerName="admin_pharma" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Recrutement]]></title>
      <featuredPage>1</featuredPage>
      <image><![CDATA[/media/1003/my_briefcase.png]]></image>
      <bodyText><![CDATA[<p>Nous n'avons actuellement pas d'offre d'emploi.</p>]]></bodyText>
    </umbTextPage>
    <umbTextPage id="1079" key="7e9a06f3-b4d9-4e36-9ee1-6b481f0fbeab" parentID="1068" level="2" creatorID="0" sortOrder="3" createDate="2014-02-12T23:53:11" updateDate="2014-02-22T02:34:13" nodeName="Ordonnance" urlName="ordonnance" path="-1,1068,1079" isDoc="" nodeType="1059" creatorName="admin_pharma" writerName="admin_pharma" writerID="0" template="1078" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Envoi d'ordonnances]]></title>
      <featuredPage>0</featuredPage>
      <image><![CDATA[/media/1001/1392096333_prescription.png]]></image>
    </umbTextPage>
    <umbTextPage id="1085" key="bdc1dcd4-449b-44ef-9fdf-b70b363e8cac" parentID="1068" level="2" creatorID="0" sortOrder="4" createDate="2014-02-19T23:38:32" updateDate="2014-02-20T00:01:45" nodeName="Login" urlName="login" path="-1,1068,1085" isDoc="" nodeType="1059" creatorName="admin_pharma" writerName="admin_pharma" writerID="0" template="1084" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <title><![CDATA[Login]]></title>
      <featuredPage>0</featuredPage>
    </umbTextPage>
    <umbTextPage id="1087" key="6f85014e-a2be-4930-8c19-0f69ec0d406b" parentID="1068" level="2" creatorID="0" sortOrder="5" createDate="2014-02-20T12:27:26" updateDate="2014-02-20T12:27:26" nodeName="Admin Ordonnance" urlName="admin-ordonnance" path="-1,1068,1087" isDoc="" nodeType="1059" creatorName="admin_pharma" writerName="admin_pharma" writerID="0" template="1086" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <title><![CDATA[Administration]]></title>
      <featuredPage>0</featuredPage>
    </umbTextPage>
    <umbracoNaviHide>0</umbracoNaviHide>
    <title><![CDATA[Accueil]]></title>
    <hideBanner>1</hideBanner>
    <aboutTitle><![CDATA[Pharmacie Sofianos]]></aboutTitle>
    <aboutText><![CDATA[<p><span class="st">135 RUE DE CONFLANS</span><br /> <span class="st"> 95220 HERBLAY</span></p>
<p><span class="st">Horaires d'ouverture : 9h-12h30 14h30-19h30</span></p>]]></aboutText>
    <siteName><![CDATA[Pharmacie Sofianos]]></siteName>
    <copyright><![CDATA[Florian Sofianos]]></copyright>
  </umbHomePage>
</root>