@model Pharmacie.Models.OrdonnanceModel
<div id="status"></div>
@using(Html.BeginUmbracoForm<Pharmacie.Controller.OrdonnanceController>("SendMail"))
{
    @Html.EditorFor(x => Model)
	<input type="file" name="file" id="file" />
    <input type="submit"/>
}
 
<script>
    function ShowError() {
        $("#status").removeClass();
        $("#status").addClass("alert alert-error");
        $("#status").html("<strong>Error!</strong> There was an error posting the contact form. Please try again later.");
    }
 
    function ShowSuccess() {
        $("#target").removeClass();
        $("#target").addClass("alert alert-success");
    }
</script>